.container {
  display: inline-block;
}

.selection {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .2s;
  opacity: 0.85;

  &:hover {
    opacity: 1;
    transform: scale(1.15);
  }
}
