.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-menu {
  width: 40%;
  min-width: 200px;
  display: block;
}

.submenu {
  width: 75%;
  min-width: 120px;
  margin: 0 auto;
  margin-top: 20px;
}
