.controls {
  margin-top: 5px;
}

.left {
  width: 40%;
  text-align: left;
  display: inline-block;
}

.center {
  width: 20%;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  vertical-align: top;
  line-height: 30px;
}

.right {
  width: 40%;
  text-align: right;
  display: inline-block;
}
